/* BASE */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #F8F5F0;
}

/* CONTENEDOR */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    background: #ffffff;
    padding: 50px;
    border-radius: 18px;
    width: 420px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.8s ease;
}

/* ANIMACIÓN */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* TÍTULO */
.titulo {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    margin-bottom: 5px;
    color: #1F2937;
}

/* SUBTÍTULO */
.subtitulo {
    color: #D4AF37;
    font-size: 16px;
    margin-bottom: 20px;
}

/* TEXTO */
.mensaje {
    text-align: center;
    color: #6B7280;
    margin-bottom: 28px;
    
    font-size: 15px;
}

/* INPUTS */
.input-codigo {
    width: 80%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    transition: 0.2s;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 15px;
}

/* EFECTO FOCUS 🔥 */
.input-codigo:focus {
    outline: none;
    border-color: #D4AF37;
    box-shadow: 0 0 0 2px rgba(212, 175, 55, 0.2);
}

/* BOTÓN */
.btn {
    background: #D4AF37;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s;
}

/* HOVER */
.btn:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

/* DISABLED */
.btn:disabled {
    background: #999;
    cursor: not-allowed;
}

/* MENSAJE ERROR / STATUS */
#mensaje {
    margin-top: 10px;
    font-size: 14px;
    color: #6B7280;
}